/* write your styles here */
html, body{
margin:0px;
padding:0px;
}

body{
    margin:0px;
    background-image: url("images/floral.png");
    width: 100%;
    height: 100%;       
}


.marquee{
   background-color: rgba(237, 72, 76, 1);
   color:rgba(255, 255, 255, 1);
    line-height:20px;
    white-space: nowrap;
    overflow: hidden;
}
 .marquee p{
    margin: 0px;
    padding: 5px 0px;
    
    padding-left:50%;
    font-size: 15px;
    font-weight: bold;
    animation:marquee 12s linear infinite;
}
@keyframes marquee{
    0%{
transform:translate(0,0);
    }
    100%{
    transform:translate(-100%,0);
    }     
}

    
   
    .nav{
        display:flex;
        justify-content: space-between;
       align-items: center;
       background-color:rgba(128, 128, 128, 1);
       font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #cac9c8;
      }
  .list-items ul li{
    display: inline-flex;
   padding: 10px 13px 10px 13px;
  
  }
  .nav img{
    width: 80px;
  }

.about-tech{
   margin:0;
   padding:0;
   
    padding-top: 16px;
    background-color: rgba(252, 112, 126, 0.5);
}
.join-now{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.join-now h1 {
   font-family: 'Josefin Sans', sans-serif;
   margin:0;
  
}
.join-now h3{
    font-family: 'Josefin Sans', sans-serif;
    border-top:1px solid black;
    border-bottom: 1px solid black ;
   padding:20px 0px;
}
button{
    padding:15px 71px;
    margin:20px 0px;
    border:none;
    background-color: black;
    color:rgba(241, 141, 151, 1);
    font-size: 1em;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}
.services{
       display:flex;
       text-align: center;
       
}
     

.our-service h1{
    font-family: 'Lobster', cursive;
    margin:0;
}
.our-service h2 {
    font-family: 'Josefin Sans', sans-serif;
}
.our-service p {
    font-family: 'Josefin Sans', sans-serif;
}
.our-service{
  background-color:rgba(192, 181, 164, 0.5);
 
    text-align: center;
}
.icon{
    font-size: 80px;
}
.image{
    width: 250px;
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.5);
}
.portfolio{
    text-align: center;
    background-color:rgba(255, 188, 144, 0.5);
  
}
.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio h1{
    font-family: 'Lobster', cursive;
    margin-top: 0px;
    padding-top: 15px;
    border-bottom: 1px solid black ;
}
.portfolio h4{
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid black ;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
   text-align: center;
    padding: 10px;
  }
  
  .grid-item {
    padding: 60px;
  }
  
  
  .contact{
    background-color:rgba(135, 250, 244, 0.5);
    text-align: center;
    padding: 2px 0px;
    
}
.contact h2{
    font-family: 'Lobster', cursive;
}
  
footer{
    font-family: 'Josefin Sans', sans-serif;
    background-color:rgba(33, 33, 33, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding:2px 0px;
    
}
.fa-twitter{
    border:1px solid black ;
    border-radius: 50%;
    padding: 20px 20px;
}
.fa-youtube{
    border:1px solid black ;
    border-radius: 50%;
    padding: 21px 20px;
    margin: 0px 12px;                                        
}
.fa-facebook-f{
    border:1px solid black ;
    border-radius: 50%;
    padding: 20px 23px;
}

.fa-html5:hover{
    color: #f18d97;
}
.fa-css3-alt:hover{
    color: #f18d97;
}
.fa-js:hover{
    color: #f18d97;
}
footer:hover .fa-heart{
    color:red;
}

.fa-twitter:hover{
    color:white;
    background-color:black;
}
.fa-youtube:hover{
    color:white;
    background-color:black;
}
.fa-facebook-f:hover{
    color:white;
    background-color:black;
}
.wrapper{
    font-family: sans-serif;
    width:100%;
    margin:0 auto;
    position:relative;

}
.image{
    display:block;
    width:100%;
    height:auto;
}
span{
    position: absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    color:#fff;
}
#text{
    display:block;
    
}
.overlay{
    position:absolute;
    top:0;
    left:1px;
    bottom:0;
    height: 100%;
    width: 100%;
    opacity:0;
    transition:.5s ease;
    background-color:black;
    color:white;
}
.wrapper:hover .overlay{
    opacity:1;
    border-radius: 20px;
}
.fa-eye{
    border:1px solid white ;
    border-radius: 50%;
    padding: 20px 23px;
}
.fa-thumbs-up{
    border:1px solid white ;
    border-radius: 50%;
    padding: 20px 23px;
}
 figcaption .fa-heart{
    border:1px solid white ;
    border-radius: 50%;
    padding: 20px 23px;
} 
.i{
    position: relative;
    top:7em;
}
